<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://switchrouter.github.io/tome/PrivCam.ipa</string>
		<key>displayImageURL</key>
		<string>https://switchrouter.github.io/tome/icon27.png</string>
		<key>fullSizeImageURL</key>
		<string>https://switchrouter.github.io/tome/icon180.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.greenriverpark.PrivCam</key>
		<string>PrivCam_Dist_AdHoc_expiration_04_20_2023</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>G6T624J644</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
